{% extends "base/principal.html" %}

{% block main_content %}

<div class="row">
        <div class="col-md-6">
          <div class="card card-dark mt-3">
            <div class="card-header">
              <h3 class="card-title"> Edit academic Year</h3>
            </div>
            <div class="card-body bg-light p-5 shadow">
              <div class="">
                </div>
                <div class="">
                  <div id="logins-part" class="" role="tabpanel" aria-labelledby="logins-part-trigger">
                                            {% if messages %}
                                            <div class="form-group">
                                              <div class="col-12">
                                                {% for message in messages %}
                                                  {% if message.tags == "error" %}
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                                      {{ message }}
                                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                  {% elif message.tags == "success" %}
                                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                                      {{ message }}
                                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                  {% endif %}
                                                {% endfor %}
                                              </div>
                                            </div>
                                          {% endif %}
                    <form class="" action="edit_year_save"  method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <h7>Previous start year: <span class="text-info">{{year.start_year}}</span></h7><br> <br>
                        <input type="hidden" class="form-control bg-light" id="First name" placeholder="{{year.id}}" value="{{year.id}}" name="year_id">
                        <label for="Firstname">New Start year:</label>
                        <input type="date" class="form-control bg-light" id="First name" placeholder="{{year.start_year}}" name="start"> <br> <br>
                      </div>
                      <div class="form-group">
                        <h7>Previous start year: <span class="text-info">{{year.end_year}}</span></h7><br> <br>
                        <label for="Firstname">New End year:</label>
                        <input type="date" class="form-control bg-light" id="First name" placeholder="{{year.end_year}}" name="end">
                      </div>
                      <button type="submit" class="btn btn-success">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>

{% endblock main_content  %}
