{% extends "base/principal.html" %}
{% load static %}
{% block main_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        {% if messages %}
                        <div class="form-group">
                          <div class="col-12">
                            {% for message in messages %}
                              {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              {% elif message.tags == "success" %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
<div class="row">
  <div class="container">
    <div class="container">
  <div class="col-12 mt-3">
    <p> <strong>Full names:</strong> {{f1.Full_names}}</p>
    <p> <strong>Date of birth:</strong> {{f1.Date_of_birth}}</p>
    <p> <strong>Gender:</strong> {{f1.Gender}}</p>
    <p> <strong>Admission Class:</strong> {{f1.Admission_Class}}</p>
    <p> <strong>Physical Disability:</strong> {{f1.Physical_condition}}</p>
    <p> <strong>Parent Name:</strong> {{f1.parent_name}}</p>
    <p> <strong>Parent Contact:</strong> {{f1.Parent_Contact}}</p>
    <p> <strong>Alternative Contact:</strong> {{f1.Alternative_contact}}</p>
    <p> <strong>Parent Email:</strong> {{f1.Parent_Email}}</p>
    <p> <strong>Alternative Email:</strong> {{f1.Alternative_email}}</p>
    <p> <strong>Town of Residence:</strong> {{f1.Town_of_Residence}}</p>
    <p> <strong>Previous School:</strong> {{f1.Previous_school}}</p>
    <p> <strong>Birth certificate:</strong> <a href="{{f1.Birth_certificate.url}}" download>Download</a></p>
    <p> <strong>Acceptance Slip:</strong> <a href="{{f1.Acceptance_slip.url}}" download>Download</a></p>
    <p> <strong>Class 6 report card:</strong> <a href="{{f1.Class6_report_card.url}}" download>Download</a></p>
  </div>

    </div>

  </div>
</div>

{% endblock main_content  %}
