{% extends "blog/land.html" %}
{% load static %}



{% block content %}
<div class="container">
<div class="container">
  <div class="container">
    <div class="container">
  <div class="container mt-5 shadow-lg">
      <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <h2 class="text-primary uk-text-center"><strong>Admissions Open</strong></h2>
        <p>Admissions from Form 1 to Uppersixth everyday from 8 a.m to 3 p.m on working days.</p>
        <p class="blink text-warning"> Please Visit our Center for Offline application</p>
          <div class="text-center">
            <a href=" {% url 'registration' %} " class="btn btn-sm btn-primary ">Application Procedure</a>

          </div>
      </div>

  </div>

</div>
</div>
</div>
</div>




{% endblock content %}
