{% extends "blog/land.html" %}
{% load static %}



{% block content %}
<div class="container">
<div class="container">
  <div class="container">
    <div class="container">
  <div class="container mt-5 shadow-lg bg-primary">
      <div class="uk-card uk-card-default uk-card-body">
        <h4 class="text-success uk-text-center"><strong></strong></h4>
        <div class="text-center">
          Visit our campus these days so have a tour

          <h5 class="text-primary">Rainbow Kindergarden</h5>
          <ul>
            <li> Every Working Day</li>
          </ul>
          <h5 class="text-primary"> Rainbow Bilingual Primary School Foto</h5>
          <ul>
            <li> Every Working Day</li>
          </ul>
          <h5 class="text-primary"> Rainbow Bilingual Primary School Foreke</h5>
          <ul>
            <li> Every Working Day</li>
          </ul>
          <h5 class="text-primary"> Rainbow Bilingual College</h5>
          <ul>
            <li> Wednesday</li>
            <li>Saturday</li>
            <li>Sunday</li>
          </ul>
        </div>
      </div>

  </div>

</div>
</div>
</div>
</div>




{% endblock content %}
