{% extends "base/principal.html" %}
{% load static %}
{% block main_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<a class="btn btn-outline-primary btn-sm mt-5 px-3 mx-5 mb-3" href=" {% url 'add_post' %} "><i class="fas fa-plus"></i>  Add Posts</a>

                        {% if messages %}
                        <div class="form-group">
                          <div class="col-12">
                            {% for message in messages %}
                              {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              {% elif message.tags == "success" %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-indigo">
        <h3 class="card-title">Posts List</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px;">
            <input type="text" name="table_search" class="form-control float-right" id="mySInput" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
              <!-- /.card-header -->
      <div class="card-body table-responsive p-0 bg-light shadow-lg" style="height: 450px;">
        <table class="table text-nowrap table-hover bg-primary shadow-lg">
          <thead class="text-light ">
            <tr class="bg-light">
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Created on</th>
              <th>Thumbnail</th>
              <th>Updated on</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody class="bg-light shadow" id="mySTable">
            {% for new_post in new_posts %}
                <tr>
                  <td>{{new_post.id}}</td>
                  <td>{{new_post.title}}</td>
                  <td>{{new_post.description}}</td>
                  <td><span class="tag tag-success">{{new_post.created_on}}</span></td>
                  <td><img src="{{new_post.card_image.url}}" class="img-circle pull-xs-left" alt="..." height="70px" width="70px"></td>
                  <td><span class="tag tag-success">{{new_post.updated_on}}</span></td>
                  <td>
                    <a class="btn bg-gradient-primary btn-sm mx-1" href="edit_new_post/{{new_post.id}}"> Edit </a>
                    <a class="btn bg-gradient-danger btn-sm mx-1" href="delete_new_post/{{new_post.id}}"> Deactivate </a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
              <!-- /.card-body -->
    </div>
            <!-- /.card -->
  </div>
</div>

    <script>
      // ********************************TO FILTER IN TABLE*************************************
      $(document).ready(function(){
        $("#mySInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#mySTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
        $("#myTInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
{% endblock main_content  %}
