{% extends "blog/land.html" %}
{% load static %}



{% block content %}
<div class="container">
  <div class="uk-panel">
    <h3 class="text-center text-primary"><u>The Best Bilingual Primary School In Dschang And Cameroon as a Whole</u></h3>
      <img class="uk-align-left uk-margin-remove-adjacent" src=" {% static 'media/PRIM.jpg' %} " width="525" height="450" alt="Example image">
      <div class=" text-center pt-3">
        <i>    "So, whether you are looking to educate your child in <span class="text-primary"> <strong>English</strong> </span>,
            <span class="text-primary"> <strong>French</strong> </span>, <span class="text-success"> <strong>bilingually</strong></span>,
            or simply want them to experience the benefits of learning in a Hardworking, prayerful and patient
            environment, <strong>Rainbow Bilingual Primary School</strong> is the place to be"</i>
      </div>
      <div class="">
        <strong>Rainbow Bilingual Primary School</strong> forms the foundation for a child’s future learning.
        Whether you choose our <strong class="text-success">Foto</strong> or <strong class="text-success">Foreke</strong> campus, Rainbow Bilingual Primary School
         offers a challenging academic education in a creative, warm, and holistic learning environment
         that enables children to reach their full potential. We see the world as a classroom,
         and thus much of the teaching in the primary grades is done outside the traditional setting.
         <br> <br>

        Our two Bilingual Primary Schools welcome students of all regions without any descrimination.
        We aim to provide a high-quality education in the English tradition, customised to instil a sense of
        belonging in the new age soceity. Children attending our <strong class="text-primary">Foreke</strong> campus have the benefit of mixing with a
        bigger school community where they may read with French speaking students or meet them through inter-house competitions.
        Those pupils based at our <strong class="text-primary">Foto</strong>campus are in a close-knit
        environment where they can easily socialise.
        <h4>What makes our Primary School unique:</h4>

        <strong>Rainbow Bilingual Primary School</strong> offers the internationally recognised Cameroonian national
        curriculum, with modifications to contextualise the learning experience for  pupils. <br> <br>
        Our learning approach is inquiry-based and trans-disciplinary, creating a strong foundation for project-based
        learning, which is the focus in later years. <br> <br>
        One of our core values is health education, taught through all subjects and general school life.
         This includes a robust physical education programme, lots of time outdoors, nutritious homemade food,
         a positive school climate, and an emphasis on social development and mental health.

      </div>

  </div>
</div>




{% endblock content %}
