{% extends "blog/land.html" %}
{% load static %}



{% block content %}
<div class="container">
  <div class="uk-panel">
    <h3 class="text-center text-primary"><u>The Best Bilingual College In Dschang And Cameroon as a Whole</u></h3>
      <img class="uk-align-left uk-margin-remove-adjacent" src="media/P1010049.jpg" width="525" height="450" alt="Example image">
      <div class="pt-3">
        <strong class="text-primary">Rainbow Bilingual College</strong> programme encourages initiative, supports individualised academic growth,
        and helps our students build character, confidence, and cross-cultural sensitivity.
        <br> <br>
        Our college  is divided into two sections: the junior section and Senior section
        where the curriculum focuses on preparing students for GCE Ordinary level and Advance Level respectively,
         in a broad range of subjects.

        <h4>What makes our  college unique:</h4>

        Core curricular subjects are supported with a variety of supplementary subjects that provide our students with
        excellent academic and personal growth opportunities. <br> <br>
        Learning and campus life are enriched by our General Topic, "Discovery".
        <br> <br>
        Our project-based learning approach enhances skills through student-driven projects that emphasise teamwork,
        problem solving, and reflection. <br> <br>
        Students can take part in cross-cultural learning exchange within their peers across the  <strong>RAIBICOL</strong> Education Network.
      </div>

  </div>
</div>




{% endblock content %}
