{% extends "blog/land.html" %}
{% load static %}



{% block content %}
<div class="container">
  <div class="uk-panel">
      <img class="uk-align-left uk-margin-remove-adjacent" src="{% static "media/rain5.jpg" %}" width="525" height="450" alt="Example image">
      <p class="pt-3">Rainbow School Complex is an educational Eldorado in the city of Dschang, offering moral and quality education (from kindergarten to secondary) to children of both the rich and the poor.

      </p>
      <p>Our dream was and remains to have a school where both the children of the rich and the poor
      could Study together in a good atmosphere.
      This dream has become a reality.</p>
      <p>Drawing on more than 5 years of tradition and success, we have a contemporary outlook defined by excellence and inclusion. Today we offer a broad and challenging curriculum, and a comprehensive co-curricular programme, which encourages students to develop their own identities, strengths and pathways to achievement.</p>
      <p>We believe in building the capacity to seek understanding and achieve goals beyond standard measures. This is why we offer an approach to learning that educates the whole person, providing a rich learning environment that encourages academic, social, physical, emotional and spiritual growth.

      As our students learn to value this deeper connection with knowledge, we intend for them to also grow a strong sense of moral purpose, guided by our School values. These values aim to instill an appreciation of ‘giving back’ in each individual and an understanding of the many forms this can take throughout life.</p>
      <p>We are interested in what growth and success looks like for each individual. For students to successfully move along their own learning pathway, we recognise that our approach must be flexible and responsive to developmental stages and learning challenges.

      We continuously encourage students to exceed others’ expectations – and their own expectations of themselves. Our task is to look at the combined skills and attributes of each student and ask: how far can this person reach?</p>
  </div>
    <hr class="uk-divider-icon uk-background-primary">
  <h3>History</h3>
  <p>The story of Rainbow school goes as far back as 1993 after our wedding in Bonn.

  I succeeded my father as the chief of Bellah, a village in Fontem Cameroon, when I was a student of pedagogy in the university of Bonn

  in 1991. In 1993, I got married to Morene Tazitabong. She also studied  pedagogy in Cologne - Germany.

  We were more certain than not, that at the end of  our studies, we were to return home so as to help build our country in the area of EDUCATION, which gives the base for all other development. I visited Cameroon many times as a student and realized that the job market was very tight.



  On  returning to Germany from one of such trips in 1997</p>
  <p> <strong class="text-center">we started with the preparations and feasibility studies of opening a private school.</strong> </p>
  <p>Dschang with its Mediterranean climate (1600m above sea level), an area with very high birth rate and a university town without a bilingual Kindergarten and primary school at that time, we decided to settle there. Dschang is near Fontem, where we come from.

   In course of studying our marriage was blessed with four children. Now proud to be parents of five children, the youngest is five years old.</p>
  <p> <strong>After our graduation, we left Bonn-Germany as a family in August 2000 for Dschang-Cameroon.</strong> </p>
  <p> Dschang was to become our new home especially for our children with many cultural shocks.

  To get a large piece of land and documents needed to run the school  took longer time than we estimated. The concept of time in this part of the world is different.

  In other not to lose time, we opened an off license to be selling drinks while waiting. Where to get money for the buying of land and construction of classrooms was another source of worry.</p>
  <p> <strong>We created a non profit making common initiative group called BENCIG with 4 major areas of activities:</strong> </p>
  <ol>
    <li>to educate children at an affordable price</li>
    <li>to provide good drinking water for Bellah village</li>
    <li>to provide electricity locally for Bellah village</li>
    <li>to provide basic health facilities for Bellah village and her neighbours</li>
  </ol>
  <p>All these as our little contribution for the welfare of our people and our country at large.</p>
  <p> <strong>In 2001 we bought land and constructed the first five classrooms and in

  Sept.2003 the first 93 pupils were admitted into Kindergarten 1& 2 as well as primary one.</strong> </p>
  <p>We went on progressively and in

  June 2009 Rainbow sent out the first batch with 100% success both at the Government Common Entrance & First School Living Certificate Examinations with the highest number of Children on the honored list in the West Region of Cameroon.</p>
  <p>The second batch of June 2010 repeated the same success: making Rainbow School to continuously keep the flag as the most outstanding primary school in the West Region of Cameroon.</p>
  <p>Our school started in Foreke, which is in the South of Dschang town and after three years of operation, many parents came from the northern part of the town, which is also thickly populated, and complained that they loved our school but the distance was too long for their children. Most of them did not have the bus fee (31.000frs.CFA per year: about € 46) that was needed for the transportation of their children.</p>
  <p> <strong>As a result we started with the construction of the second Rainbow Kindergarten & primary school there in Foto-Dschang.</strong> </p>
</div>




{% endblock content %}
